.*
*.md
*.iml
/local.properties
/.idea/*
!/.idea/codeStyles/
!/.idea/dictionaries/
#!/.idea/inspectionProfiles/
!/.idea/codeInsightSettings.xml
!/.idea/kotlinCodeInsightSettings.xml
!/.idea/encodings.xml
/build
/captures
local.properties
!README.md
!.gitlab-ci.yml
