<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!-- Connection detection -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Boot detection -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <!-- android:largeHeap="true" -->
    <application
        android:name=".App"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="${applicationLabel}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GSplit.Starting"
        android:usesCleartextTraffic="${usesCleartextTraffic}"
        tools:targetApi="tiramisu">

        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:label="${applicationLabel}"
            android:launchMode="singleTask"
            android:theme="@style/Theme.GSplit.Starting"
            android:windowSoftInputMode="stateUnchanged|adjustResize"
            tools:ignore="RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MultiWindowHeatingActivity"
            android:exported="true"
            android:theme="@style/Taskbar.InvisibleActivity" />

        <activity
            android:name=".PresetLauncherActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.TransparentNoSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShortcutActivity"
            android:documentLaunchMode="always"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/gsplit_preset"
            android:theme="@style/Theme.TransparentNoSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".presentation.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".presentation.WakeUpForegroundService"
            android:foregroundServiceType="mediaPlayback" />

        <service
            android:name=".presentation.AutoLaunchAccessibilityService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <service
            android:name="com.salat.overlay.presentation.OverlayService"
            android:exported="false" />

        <meta-data
            android:name="google_analytics_automatic_screen_reporting_enabled"
            android:value="false" />

        <provider
            android:name=".BootContentProvider"
            android:authorities="com.salat.gsplit.bootcontentprovider"
            android:exported="false">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup" />
        </provider>

        <receiver
            android:name=".BackgroundTaskReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.salat.gsplit.CLOSE_SPLIT" />
                <action android:name="com.salat.gsplit.REPLACE_WINDOW" />
                <action android:name="com.salat.gsplit.LAUNCH" />
                <action android:name="com.salat.gsplit.LAUNCH_LAST" />
                <action android:name="com.salat.gsplit.LAUNCH_AUTOSTART" />
                <action android:name="com.salat.gsplit.CUSTOM_LAUNCH" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

            <grant-uri-permission android:pathPrefix="/downloads/" />
            <grant-uri-permission android:pathPrefix="/apk/" />
            <grant-uri-permission android:pathPrefix="/public_downloads/" />
        </provider>
    </application>

    <queries>
        <package android:name="com.arlosoft.macrodroid" />
    </queries>
</manifest>
